@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* 1. Comportamento na tela (Browser normal) */
@media screen {
  .print-only {
    display: none !important; /* Esconde o recibo enquanto você preenche o form */
  }
}

/* 2. Comportamento na Impressão (Mobile e PC) */
@media print {
  /* 1. Esconde o conteúdo do formulário com força total */
  .no-print,
  #root > div:not(.print-only) {
    display: none !important;
    opacity: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    visibility: hidden !important;
  }

  /* 2. Isola o container de impressão */
  .print-only {
    display: block !important;
    visibility: visible !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    background-color: white !important; /* Garante fundo opaco */
    padding: 1.5cm !important;
    box-sizing: border-box;
  }

  /* 3. Garante que o body não tenha fundos ou cores do app */
  body {
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
