@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* 1. Comportamento na tela (Browser normal) */
@media screen {
  .print-only {
    display: none !important; /* Esconde o recibo enquanto você preenche o form */
  }
}

/* 2. Comportamento na Impressão (Mobile e PC) */
@media print {
  /* Remove as informações de cabeçalho/rodapé do navegador */
  @page {
    margin: 0;
  }

  .print-only {
    display: block !important;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;

    /* O PULO DO GATO: */
    /* Adicionamos uma margem de segurança para o conteúdo não cortar */
    padding: 1.5cm !important;
    box-sizing: border-box;
  }

  /* Esconde o resto como já vínhamos fazendo */
  .no-print {
    display: none !important;
  }
}
