@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Estilo para a tela do computador/tablet (não afeta a impressão) */
@media screen {
  .print-only {
    display: none !important;
  }
}

/* Estilo exclusivo para a Impressão */
@media print {
  /* 1. Esconde a interface do App */
  .no-print {
    display: none !important;
  }

  /* 2. O Recibo toma conta de tudo */
  .print-only {
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-color: white !important;
    z-index: 999999 !important;
    padding: 1.5cm !important;
  }

  /* 3. Força o navegador a mostrar cores e imagens de fundo */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* 4. Remove margens do sistema */
  @page {
    margin: 0;
    size: auto;
  }
}
